body {
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
}

#movies {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
  gap:15px;
  padding:20px;
}

.card {
  background:#222;
  border-radius:8px;
  padding:10px;
}

.card img {
  width:100%;
  border-radius:5px;
}
